@font-face
{
	font-family: agency_fb;
	src: url(agency_fb.ttf);
}

*
{
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}

body
{
	background-color: #fff;
}

h1
{
    font-family: agency_fb;
}

/* Cabecera*/
header
{
	margin: auto;
	width: 1000px;
	height: 160px;
	background-color: #fff;
}

.logo
{
	float: left;
	width: 400px;
	height: 150px;
}

.logo p
{
    text-indent: -99999em;
    overflow: hidden;
}

/* Contenido en General */

.contenido
{
    margin: auto;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    width: 930px;
    height: 1000px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

#contenido_derecha
{
    float: right;
    margin: auto;
    width: 700px;
    padding-top: 20px;
}

.campos_llenar
{
    height: 60px;
    width: 100%;
}

#boton_lindo
{    
    color: #fff;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
    background-color: #0404B4;
    font-family: agency_fb;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

#boton_lindo.registrar
{
    margin-left: 100px;
}

#boton_lindo.iniciar
{
    margin-left: 50px;
}

#boton_lindo:hover
{
    background-color: blue;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #000000;
} 


