@font-face
{
	font-family: agency_fb;
	src: url(agency_fb.ttf);
}

*
{
	margin: 0px;
	padding: 0px;
	font-family: helvetica;
}

body
{
	background-color: #fff;
}

h1
{
    font-family: agency_fb;
}

/* Cabecera*/
header
{
	margin: auto;
	width: 1000px;
	height: 160px;
	background-color: #fff;
}

.logo
{
	float: left;
	width: 400px;
	height: 150px;
}

.logo p
{
    text-indent: -99999em;
    overflow: hidden;
}

.carrito
{
    margin-top: 30px;
    float: right;
    width: 200px;
    height: 50px;
}

.carrito .cantidad
{
    float: left;
    padding-top: 10px;
    font-size: 15pt;
    color: blue;
    font-weight: bold;
}

.carrito .botoncito
{
    padding-top: 12px;
    float: right;
}

/* Contenido en General */

.contenido
{
    margin: auto;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    width: 930px;
    height: 1000px;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid #b0b0b0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}

.contenido_afuera
{
    margin: auto;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    width: 1000px;
    height: 1000px;
    border: 1px solid #b0b0b0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}

#contenido_derecha
{
    float: right;
    margin: auto;
    width: 700px;
    padding-top: 20px;
}

.campos_llenar
{
    height: 60px;
    width: 100%;
}

#boton_lindo
{    
    color: #fff;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
    background-color: #0404B4;
    font-family: agency_fb;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

#boton_lindo.registrar
{
    margin-left: 100px;
}

#boton_lindo.iniciar
{
    margin-left: 50px;
}

#boton_lindo:hover
{
    background-color: blue;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #000000;
} 

.producto
{
    width: 95%;
    height: 245px;
    border-radius: 5px;
    padding-top: 25px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
    margin-bottom: 50px;
}

.producto .foto
{
    float: left;
    margin-left: 20px;
    width: 300px;
    height: 200px;
}

.producto .descripcion
{
    float: left;
    margin-left: 20px;
    width: 300px;
    height: 200px;
    background-color: white;
    color: black;
    text-align: left;
}

.descripcion_producto
{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.consigna{
    margin: auto;
	margin-left:5px;
	width: 500px;
	height: 100px;
	background-color: #fff;

}


.caja{
    margin-top:-60px;
	margin-left:5px;
	width: 900px;
    height: 200px;
    background-color: #E2E8DA;
	box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.4);
}


.caja .envios {
    width:200px;
	height:160px;
	margin-top:30px;
	margin-left:70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: white;
	float: left;
	padding-bottom: 30px;
	padding-left: 30px;
	text-align: left;
}


.caja .facebook{
	 width:220px;
	 height:160px;
	 margin-top: 10px;
	 margin-left: 690px;
	 position: absolute;
	 font-family: Arial, Helvetica, sans-serif;
	 font-size:14px;
	 
	 
	 
}
.facebook a{
    color: #3F383F;
	font-family: agency_fb;
	font-size: 16px;
	font-weight: bold;


}

.informacion{
	width:200px;
	height:160px;
	margin-top:30px;
	margin-left:50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: white;
	border-left: 2px dotted #3F383F;
	float: left;
	padding-bottom: 30px;
	padding-left: 30px;
	text-align: left;
}

.informacion a{
	color: #3F383F;
	font-family: agency_fb;
	font-size: 16px;
	font-weight: bold;
	
	
}
a:link { color: 3F383F; text-decoration: none }
a:active { color: red; text-decoration: none }
a:visited { color: black; text-decoration: none }
a:hover { color: black; text-decoration: underline }

.informacion span{
	color:#E1D663;
	font-family: agency_fb;
	font-size: 30px;
	font-weight: bold;
	font-style:italic;
}
.facebook span{
    color:#E1D663;
	font-family: agency_fb;
	font-size: 30px;
	font-weight: bold;
	font-style:italic;

}

.searchform {

display: inline-block;
float:right;
margin-top:-80px;
zoom: 1; /* ie7 hack para display:inline-block */

*display: inline;

border: solid 1px #d2d2d2;

padding: 5px 30px;

-webkit-border-radius: 2em;

-moz-border-radius: 2em;

border-radius: 2em;

-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);

-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);

box-shadow: 0 1px 0px rgba(0,0,0,.1);

background: #f1f1f1;

background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));

background: -moz-linear-gradient(top,  #fff,  #ededed);

filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */

-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */

}

.searchform input {

font: normal 12px/100% Arial, Helvetica, sans-serif;

}

.searchform .searchfield {

background: #fff;
height:160px;
padding: 8px 8px 8px 8px;
margin:auto;
width: 220px;

border: solid 1px #bcbbbb;

outline: none;

-webkit-border-radius: 2em;

-moz-border-radius: 2em;

border-radius: 2em;

-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);

-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);

box-shadow: inset 0 1px 2px rgba(0,0,0,.2);

}

.searchform .searchbutton {

color: #fff;

border: solid 1px #494949;

font-size: 11px;

height: 37px;

width: 35px;

text-shadow: 0 1px 1px rgba(0,0,0,.6);

-webkit-border-radius: 5em;

-moz-border-radius: 5em;

border-radius: 5em;

background: #5f5f5f;

background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));

background: -moz-linear-gradient(top,  #9e9e9e,  #454545);

filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */

-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */

}

.factura_cliente
{
    width: 97%;
    position: relative;
}

.factura_cliente .item
{
    padding: 20px;
    margin-top: 20px;
    float: left;
    width: 100%;
    border: 1px solid blue;
}

.factura_cliente .botones_item
{
    float: right;
    width: 20%;
}

.factura_cliente .pie
{
    padding: 20px;
    margin-top: 20px;
    float: left;
    width: 100%;
    border: 1px solid blue;
}

.factura_cliente .botones_pie
{
    float: right;
    width: 80%;
}

