#lista_menu
{
	position: relative;
	float: right;
	height: 50px;
	width: 100%;
	padding-right: 20px;
	padding-bottom: 30px;
}

#lista_menu ul
{
	float: right;
	list-style: none;
}

#lista_menu ul li
{
	float: left;
}

#lista_menu ul li a
{
	text-decoration: none;
	margin-left: 10px;
	margin-top: 10px;
	height: 50px;
}

#caja_lista
{
	padding-top: 10px; 
	height: 95%;
	width: 95%;
}

#usuario_uno
{
	float: left;
	margin-left: 20px;
	height: 235px;
	width: 200px;
	border-radius: 5px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	margin-top: 10px;
}

.nombre
{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.check
{
	margin-right: 10px;
	float: right;
}

.foto
{
	width: 190px;
	height: 150px;
	margin-left: 5px;
	margin-top: 5px;
	background-color: #e2e2e2;
}

a.boton_peque
{
	margin-left: 15px;
	color: #fff;
    border-radius: 3px;
    font-family: agency_fb;
    font-size: 17px;
    padding: 5px 20px 5px 20px;
    background-color: #0404B4;
    text-decoration: none;
}

a.boton_peque:hover
{
	background-color: blue;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #000000;
}